#main {
  display: flex;

}
#nav {
  height: 8vh;
  padding: 10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.892);
  color: white;
  align-items: center;
  justify-content: space-between;
}
#obj {
  display: flex;
  align-items: center;
}
#input {
  height: 20px;
  width: 160px;
  border-radius: 10px;
  background-color: rgba(79, 79, 79, 0.58);
  border: 1px black;
}

#logo {
  width: 10vh;
}
.block {
  position: relative;
  float: left;
  width: 20%;
  text-align: center;
  color: white;
}
.text { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width:700px){
  #main {
    flex-direction: column !important;
  }
  .img {
    width: 100vh;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

  }
  .block {
    height: 20vh;
  }
  .text { 
    left: 250%; 
  }
  #date {
    visibility: hidden;
  }
}